
.button {
  $bg-color: #ccc;
  $transition: 0.15s ease-in-out;

  align-items:center;
  background-color: $bg-color;
  border-radius: 100rem;
  color: #000;
  display: inline-flex;
  flex-direction: row;
  margin-right: .5rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition:
    background-color $transition,
    color $transition;

  &__icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: .5em;
  }

  &:hover,
  &:focus {
    background-color: darken($bg-color, 10%);
  }

  &:active {
    background-color: darken($bg-color, 15%);
    box-shadow: inset 0 0 .3rem rgba(0, 0, 0, 0.5);;
  }

  &--cta {
    $cta-bg-color: #fff;

    background-color: $cta-bg-color;

    &:hover,
    &:focus {
      background-color: darken($cta-bg-color, 10%)
    }

    &:active {
      background-color: darken($cta-bg-color, 15%);
    }
  }

  &--transparent-light {
    background-color: transparent;
    color: #fff;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
