@import './colour.scss';

.card {
  border-radius: .4rem;
  background-color: #fff;
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, 0.5);
  padding: 2rem;

  &__header {
    width: 100%;
    color: $primary-700;
  }

  &__title {
    font-family: 'ubuntu', sans-serif;
    font-size: 2.2rem;
    margin: 0 0 0.4rem 0;
  }

  &__subtitle {
    font-size: 1.5rem;
    color: #666;
    margin: 0;
  }

  &__content {
    padding: 2rem;
  }

  &--primary {
    background-color: $primary-500;
    color: #fff;
  }

  &--primary &__header {
    color: #fff;
  }
}

