$primary-100: hsl(242, 30%, 95%);
$primary-200: hsl(242, 35%, 85%);
$primary-300: hsl(242, 40%, 75%);
$primary-400: hsl(242, 45%, 65%);
$primary-500: hsl(242, 50%, 55%);
$primary-600: hsl(242, 55%, 45%);
$primary-700: hsl(242, 60%, 35%);
$primary-800: hsl(242, 65%, 25%);
$primary-900: hsl(242, 70%, 15%);
