@import '../../styles/colour';

$text-colour: hsla(0, 0, 100, 0.8);
$text-colour-highlight: hsl(0, 0, 100);

.header {
  padding: 1.5rem;
  background-color: $primary-500;
  color: $text-colour;

  //Make header stick to the top of the screen in supported browsers
  position: sticky;
  top: 0;

  &__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
  }

  &__link {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $text-colour;
  }

  &__link:active,
  &__link:hover,
  &__.active {
    color: $text-colour-highlight;
  }

}
