.hero {
  $padding-top-bottom: 6vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $padding-top-bottom 1rem;

  background-color: $primary-500;
  color: white;

  // Add an upwards slant to the bottom edge, which should be contained within the bottom padding
  // of the element.
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - #{$padding-top-bottom * .5}), 0 100%);

  &__content {
    width: 100%;
    max-width: 105rem;
    margin: 1rem auto;
    font-size: 1.7rem;
  }

  &__title {
    margin: 0;

    font-size: 4.5rem;
    @media (min-width: 768px) {
      font-size: 5.5rem;
    }
  }

  &__list {
    max-width: 70rem;
    margin: 0;
    padding: 0;

    list-style: none;

    &-item {
      display: flex;
      align-items: flex-start;
      flex-direction: row;

      margin: .25rem 0;
    }

    &-icon {
      flex-shrink: 0;

      width: 1.5em;
      height: 1.5em;
      margin-right: 2rem;
    }
  }
}
