$footer-height: 6rem;

html {
  /*
    Using a default font size of 10px makes working with rem units easier and
    avoids issues where measurements in px do not divide cleanly into rem.
  */
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.constrained {
  max-width: 105rem;
  margin: 0 auto;
}

.layout {
  font-family: 'open sans', sans-serif;

  & h1, h2, h3, h4, h5, h6 {
    font-family: 'ubuntu', sans-serif;
  }

  //Always keep the footer at the bottom of the page
  position: relative;
  min-height: 100vh;
  padding-bottom: $footer-height;

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $footer-height;
  }
}
