@import '../styles/colour.scss';

.markdown {
  table {
    min-width: 100%;
    overflow: hidden;
    border-radius: .5rem;
    border-collapse: collapse;
  }

  th, td {
    text-align: left;
    padding: 1rem 0.5rem;
  }

  td {
    border-top: 0.1rem solid $primary-200;
  }

  tbody tr:first-child td {
    border-top: 0.2rem solid $primary-200;
  }

  thead {
    color: $primary-600;
    font-size: 1.8rem;
  }

  ul {
    padding-left: 1em;
    margin: 1em 0;

    list-style-type: disc;
  }
}
