/*
    A full width container that restricts the width of the its inner content to improve the
    readability.
*/

@import './colour';

.panel {
  padding: 1.5rem;

  &__header,
  &__body {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
  }

  &--pageHeader {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $primary-500;
    color: #fff;
  }

  &--pageHeader &__header {
    font-size: 5rem;
  }

  &--pageHeader &__body {
    padding-top: 1.5rem;
  }
}
