/*
    A full width container that restricts the width of the its inner content to improve the
    readability.
*/

@import './colour';
.panel {
  padding: 2rem 1.5rem;

  &__header,
  &__body {
    width: 100%;
    max-width: 105rem;
    margin: 2rem auto;

    //Margins won't collapse due to padding.
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    font-size: 3.5rem;
  }

  &--pageHeader {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $primary-500;
    color: #fff;
  }

  &--pageHeader &__header {
    font-size: 5rem;
    margin-top: 0;
  }

  &__actions {
    padding-top: 4rem;
    margin: 0 auto;

  }
}
