@import './colour';

.skillList {
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  // Use CSS Grid if supported.
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }
}
