@import '../../styles/colour';

$text-colour: hsla(0, 0, 100, 0.8);
$text-colour-highlight: hsl(0, 0, 100);

.Header {
  padding: 1.5rem;
  background-color: $primary-500;
  color: $text-colour;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }


  &__title {
    flex-grow: 1;
    font-size: 1.8rem;
    margin: 0;
  }

  &__link {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $text-colour;
  }

  &__link:active,
  &__link:hover,
  &__.active {
    color: $text-colour-highlight;
  }

}
