.Header {
  padding: 1.5rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }


  &__title {
    flex-grow: 1;
    font-size: 2rem;
    margin: 0;
  }

  &__link {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

}
